{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% load tz %}

{% block scripts %}
    <script src="{% static 'plugins/datatables/jquery.dataTables.js' %}"></script>
    <script src="{% static 'plugins/datatables-bs4/js/dataTables.bootstrap4.js' %}"></script>
    <script>
        function copyRecordingsLinkToClipboard(recordingLink) {
            copyToClipboard(recordingLink).then(function() {
                toastr.success("The content has successfully been copied to the clipboard."); // TODO translation
            }, function() {
                toastr.error("Your Browser does not support copying to the clipboard."); // TODO translation
            });
        }

        function sendRecordingLinkViaEmail(roomName, recordingLink) {
            const subject = "{% trans "Recording for" %} " + roomName;
            const body = "Hi eLearning Friend,\r\n\r\nhere is my recording held in " + roomName + "." +
                " Please open " + recordingLink + " with your Browser."; // TODO translation
            const mailto = new URL("mailto:");

            mailto.search = "subject=" + encodeURIComponent(subject) + "&body=" + encodeURIComponent(body);
            const mailtoTap = window.open(mailto.toString(), "_blank");
            if (mailtoTap) {
                mailtoTap.close();
            }
        }
    </script>
{% endblock %}


{% block content %}
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title" id="table_desc">{% trans "Recordings overview" %}</h3>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body table-responsive p-0">
                            <table aria-describedby="table_desc" class="table table-hover table-sm">
                                <thead class="thead-light">
                                <tr>
                                    {% if request.user.is_staff %}
                                        <th scope="col">{% trans "Creator" %}</th>
                                    {% endif %}
                                    <th scope="col">{% trans "Room name" %}</th>
                                    <th scope="col">{% trans "Date" %}</th>
                                    <th scope="col">{% trans "Actions" %}</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for recording, recording_url, creator_email in recordings %}
                                    <tr>
                                        {% if request.user.is_staff %}
                                            <td class="align-middle">
                                                {% if creator_email %}
                                                    {{ creator_email }}
                                                {% else %}
                                                    {{ recording.creator }}
                                                {% endif %}
                                            </td>
                                        {% endif %}
                                        <td class="align-middle">{{ recording.room_name }}</td>
                                        <td class="align-middle">{{ recording.started|timezone:"Europe/Berlin"|date:"d.m.Y - G:i" }}</td>
                                        <td>
                                            <a class="btn btn-link" href="{{ recording_url }}" target="_blank">
                                                <em class="far fa-sm fa-eye" title="Show Playback"></em>
                                            </a>
                                            <button class="btn btn-link"
                                                    onclick="copyRecordingsLinkToClipboard('{{ recording_url }}')">
                                                <em class="far fa-sm fa-copy" title="Copy Playback-Link"></em>
                                            </button>
                                            <button class="btn btn-link"
                                                    onclick="sendRecordingLinkViaEmail('{{ recording.room_name }}', '{{ recording_url }}')">
                                                <em class="far fa-sm fa-envelope" title="Send Playback-Link"></em>
                                            </button>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        <!-- /.card-body -->
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
