{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% load i18n %}
{% load theme %}

{% block styles %}
    {% theme "multi_select" "stylesheet" %}
{% endblock %}

{% block scripts %}
    <script src="{% static 'plugins/multi-select/js/jquery.multi-select.js' %}"></script>
    <script>
        jQuery(function () {
            jQuery('#id_tenants').multiSelect();
        });
    </script>
    <script>
        window.addEventListener("load", function() {
            const directJoinSecretInput = document.getElementById("direct_join_secret");
            const directJoinSecretGenerateButton = document.getElementById("direct_join_secret_generate");

            directJoinSecretGenerateButton.addEventListener("click", function() {
                directJoinSecretInput.value = Array.from(
                    window.crypto.getRandomValues(new Uint32Array(4))
                ).map(value => value.toString(16)).join("");
            });
        });
    </script>
{% endblock scripts %}

{% block content %}
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">{% trans "Configure Room" %}</h3>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body">
                            {% crispy form %}
                        </div>
                        <!-- /.card-body -->
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
